sstt_mvp
sstt_geom
sstt_bytepacked
sstt_eigenseries
sstt_ensemble
sstt_pentary
sstt_perihelion
sstt_push
sstt_series
sstt_transitions
sstt_v2
sstt_fused_test
sstt_fused_test_c
sstt_fused_test_asm
sstt_tpca
sstt_hybrid
sstt_softcascade
sstt_bytecascade
sstt_tiled
sstt_diagnose
sstt_multidot
sstt_oracle
sstt_oracle_v2
sstt_parallel
sstt_oracle_v3
sstt_topo
sstt_topo2
sstt_topo3
sstt_topo4
sstt_topo5
sstt_topo6
sstt_topo7
sstt_topo8
sstt_topo9
data/
data-fashion/
*.o
.claude/
sstt_error_profile
sstt_gauss_map
sstt_gauss_delta
